<Span class="pisi">
  <div class="uk-child-width-expand@s" uk-grid>
    <div class="uk-grid-item-match heading">
      <p>
        <span
          class="iconify"
          data-icon="mdi-chart-bubble"
          data-inline="false"
        ></span
        >PISI
      </p>
      <h1 class="header">Attendance, Payroll and Human Resouces Software</h1>
      <p class="content">
        Kami membagi dua software untuk Human resources yaitu
        <span style="color: red">PISI Attendance System</span> dan
        <span style="color: red">PISI Payroll System</span> karena masing masing
        software dioperasikan oleh dua departement terpisah
      </p>
    </div>
    <div></div>
  </div>
  <div class="content" style="padding-top: 25px">
    <p>
      <span style="color: red">PISI Attendance System</span> fokus menangani
      jadwal kehadiran karyawan melalui setting slotting mesin, badge, kalkulasi
      jam lembur, bahkan sampai perhitungan tunjangan dan potongan karyawan.
    </p>

    <p>
      <span style="color: red">PISI Payroll System</span> merupakan system yang
      menangani penggajian karyawan dari mulai perhitungan basic salary,
      perhitungan lembur karyawan, tunjangan – tunjangan bahkan, potongan –
      potongan baik itu potongan yang bersifat tetap seperti asuransi –
      asuransi, potongan pajak yang di berlakukan pemerintah sampai potongan
      tidak tetap diantaranya, karena faktor keterlambatan kerja, pinjaman
      karyawan dan lain sebagainya.
    </p>
    <p>
      Untuk lebih lanjut silahkan ke
      <a href="https://pisicloud.com">PISICLOUD.COM</a>
    </p>

    <h1 style="margin-top: 40px; font-size: 30px">PISI Attendance</h1>
    <ol>
      <li>
        PISI Attendance System sudah memiliki Auto Rotate yang mana berfungsi
        untuk merotasi secara otomatis shift kerja karyawan, karena system lah
        yang akan menentukan daftar shift kehadiran karyawan yang tidak tetap,
        jadi system ini merupakan solusi terbaik untuk menjadi pilihan.
      </li>
      <li>
        Dilihat dari sisi ketidak hadiran karyawan juga telah disediakan kolom
        Remark yang bertujuan untuk memasukkan alasan – alasan karyawan tersebut
        tidak hadir, apakah karyawan itu Cuti, Sakit, Bahkan tanpa alasan
        sekalipun.
      </li>
      <li>
        PISI attendance juga memudahkan penggunanya dalam hal melakukan
        perubahan – perubahan jadwal kehadiran karyawan apabila diperlukan.
      </li>
      <li>
        Dari sisi Perhitungan OT ( Lembur ) PISI Attendance memiliki system
        otomatis Approve maupun manual approve yang bertujuan agar pihak HR bisa
        memantau jadwal Lembur karyawannya.
      </li>
    </ol>
    <h1 style="margin-top: 40px; font-size: 30px">PISI Payroll</h1>
    <ol>
      <li>
        Dalam segi perhitungan gaji yang memiliki rate berbeda dalam satu
        periode, PISI Payroll system mampu menghitung gaji basic secara prorate,
        yang mana system akan mengkalkulasikan gaji lama dan gaji baru.
      </li>
      <li>
        Dalam segi perhitungan gaji yang memiliki rate berbeda dalam satu
        periode, PISI Payroll system mampu menghitung gaji basic secara prorate,
        yang mana system akan mengkalkulasikan gaji lama dan gaji baru.
      </li>
      <li>
        Keungulan yang ketiga, dari segi perhitungan – perhitungan lembur,
        Potongan – potongan, bahkan tunjangan – tunjangan semua menggunakan
        formula, jadi apabila aturan berubah, PISI payroll System hanya akan
        merombak formula bukan merombak system yang membutuhkan waktu lama.
      </li>
    </ol>
  </div>

  <div class="features">
    <div class="uk-container">
      <div class="uk-text-center">
        <h1>Awesome Features</h1>
        <p>Fitur-fitur kami dikembangkan dari kebutuhan customer kami</p>
      </div>
      <div class="grid-card">
        <div
          class="uk-child-width-expand@s uk-text-center"
          uk-grid="parallax: 40"
        >
          <!-- Awal Colom 1 -->
          <div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="bx:bx-barcode-reader"></span>
              <h2>Design Badge dengan Barcode</h2>
              <p>
                User dapat mendesign sendiri badge yang akan menjadi ID resmi di
                perusahaan dan dapat menambahkan foto jika diperlukan.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="gridicons:multiple-users"></span>
              <h2>Security dan Multi User</h2>
              <p>
                Setiap user yang login ke PISI Attendance akan didefenisi
                diawal, role untuk masing-masing user bisa dibuat flexibel atau
                ketat sesuai dengan kebutuhan atau kebijakan perusahaan.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:export"></span>
              <h2>Export - Import file</h2>
              <p>
                Data mentah kehadiran dapat di-import ke PISI Attendance
                sehingga didapat rekapitulasi data kehadiran. Data rekapitulasi
                ini juga dapat di export keluar dari PISI Attendance. Export
                import ini bisa dalam berbagai format seperti .xls atau .txt
                maupun .csv.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:hexagon-multiple"></span>
              <h2>Defenisi Formula</h2>
              <p>
                Defenisi Formula tanpa batas sesuai peraturan perusahaan User
                dapat mendefenisikan formula untuk kebijakan perusahaan mengenai
                kehadiran melalui formulir formula. Jumlah defenisi formula
                bersifat tidak terbatas.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:link-variant"></span>
              <h2>Link ke mesin Clocking</h2>
              <p>
                PISI Attendance memiliki banyak referensi slot machine yang
                kompatibel, baik itu Barcode, finger print, proximity atau
                metoda lain.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:apple-keyboard-shift"></span>
              <h2>Penentuan Patern Shift</h2>
              <p>
                User bisa mendefenisikan pola-pola shift, sehingga perhitungan
                system akan lebih akurat.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="ic:baseline-autorenew"></span>
              <h2>Shift Automatic</h2>
              <p>Tidak ada Manual Penentuan Shift</p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:matrix"></span>
              <h2>Fuzzy Logic Sift Rotate Process</h2>
              <p>
                Fuzzy logic akan sangat berguna untuk menetapkan jam kerja
                dimana proses swap IN dan OUT yang tidak teratur. System akan
                dapat menentukan apakah suatu SWAP dianggap IN atau OUT.
              </p>
            </div>
          </div>

          <!-- Awal Colom 2 -->
          <div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:calendar-blank"></span>
              <h2>Off Day Kalender Jadwal Kerja</h2>
              <p>
                Off day bisa didefenisi lebih dahulu dalam Kalender tahunan atau
                bulanan sesuai dengan rencana kerja perusahaan. Untuk jenis
                perusahaan dimana hari libur bukan sabtu/minggu, feature ini
                akan sangat membantu.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:calendar-check"></span>
              <h2>Kalkulasi Jam Lembur Otomatis</h2>
              <p>
                Perhitungan jam lembur akan dihitung secara otomatis oleh system
                sesuai dengan formula yang telah didefenisi-kan pada diawal pada
                form formula.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:hexagon-outline"></span>
              <h2>Formula Tunjangan dan Potongan</h2>
              <p>
                User dapat mendefenisikan formula untuk potongan dan tunjangan
                melalui formulir formula. Jumlah defenisi formula bersifat tidak
                terbatas.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:download-network"></span>
              <h2>Download data dari Mesin</h2>
              <p>
                Untuk mesin-mesin tertentu, pada PISI Attendance dapat di
                setting download secara otomatis data swep dari mesin ke program
                PISI Attendance.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="ant-design:file-filled"></span>
              <h2>Custom Payslip</h2>
              <p>Payslip yang sesuai dengan kebutuhan perusahaan anda</p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:bank"></span>
              <h2>Export ke Bank Payroll</h2>
              <p>
                Export hasil perhitungan gaji masin-masing karyawan ke payroll
                bank untuk di transfer ke rekening mereka
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:file-export"></span>
              <h2>Laporan Pajak</h2>
              <p>Laporan tinggal submit ke dinas pajak</p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:file-account"></span>
              <h2>Laporan BPJS</h2>
              <p>
                Outstanding Report, Aging Analyst Report, Paid Invoice Report,
                Due/Overdue Report, & Statement of Account Report.
              </p>
            </div>
          </div>

          <!-- Awal Colom 3 -->
          <div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="ic:baseline-autorenew"></span>
              <h2>Recurring Transaction</h2>
              <p>
                Auto journal recurring for recurring transaction. Define your
                period and transaction term.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="bi:cloud-check-fill"></span>
              <h2>Cloud or On Premise</h2>
              <p>
                You can choose to put your database on cloud or on premise
                server
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:web"></span>
              <h2>Web base</h2>
              <p>
                Applikasi dapat diakses dari mana saja dengan device apa saja
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:file-multiple"></span>
              <h2>AP & AR Analyst</h2>
              <p>
                Outstanding Report, Aging Analyst Report, Paid Invoice Report,
                Due/Overdue Report, & Statement of Account Report.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:file-multiple"></span>
              <h2>AP & AR Analyst</h2>
              <p>
                Outstanding Report, Aging Analyst Report, Paid Invoice Report,
                Due/Overdue Report, & Statement of Account Report.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:file-multiple"></span>
              <h2>AP & AR Analyst</h2>
              <p>
                Outstanding Report, Aging Analyst Report, Paid Invoice Report,
                Due/Overdue Report, & Statement of Account Report.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:file-multiple"></span>
              <h2>AP & AR Analyst</h2>
              <p>
                Outstanding Report, Aging Analyst Report, Paid Invoice Report,
                Due/Overdue Report, & Statement of Account Report.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:file-multiple"></span>
              <h2>AP & AR Analyst</h2>
              <p>
                Outstanding Report, Aging Analyst Report, Paid Invoice Report,
                Due/Overdue Report, & Statement of Account Report.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Span>
