<div class="career">
  <div class="header uk-text-center">
    <h1>We are hiring</h1>
    <p>
      "It doesn't make sense to hire smart people and then tell them what to do;
      <br />
      we hire smart people so they can tell us what to do."<span
        style="color: red"
      >
        Steve Jobs
      </span>
    </p>
  </div>
  <div class="content">
    <div class="uk-child-width-expand@s" uk-grid>
      <div class="uk-grid-item-match">
        <img src="../../../assets/undraw_pair_programming_njlp.svg" />
      </div>
      <div>
        <p>
          <span
            class="iconify"
            data-icon="mdi-chart-bubble"
            data-inline="false"
          ></span
          >CREATIVE POEPLES
        </p>
        <H1
          >High Definistion audience: Better Data, better audience, better
          results.</H1
        >
        <P
          >We are a fast-paced, risk-taking, close-knit environment where ideas
          come from everywhere at every level.</P
        >
      </div>
    </div>
    <div class="aftergrid">
      <p>
        We believe that diversity of background, talent, skillset and mindset
        creates a flourishing environment for new thinking and ideas.
      </p>

      <p>We are growing and always looking for new talent.</p>

      <p>
        If you are driven by challenging work, passionate about media and
        technology and interested in helping to shape the future of our
        industry, we would like to hear from you!
      </p>

      <p>
        For people who know Agile and eager to learn and implement, you are at
        the right place. You are welcome
      </p>

      <p>
        Your resume will be reviewed by our recruitment team, and we will make
        sure to get in touch with you if your background meets our current
        needs.
      </p>

      <p>
        Please send your resume to
        <span style="color: red">hello@inforsys.co.id</span>
      </p>
    </div>
  </div>
</div>
