<!-- <div class="uk-child-width-expand@s" uk-grid>
  <div class="uk-grid-item-match">
    <p class="header">Focus on your businesss</p>
    <p class="content">
      Lebih dari dua dekade kami melayani mulai dari bisnis retail sampai
      korporasi dengan banyak cabang. Mulai dari UMKM sampai perusahaan
      multinasional dengan puluhan ribu karyawan.
    </p>
    <p class="content">
      Software-software kami membantu perusahaan merancang, mengeksekusi dan
      melaporkan bisnis model mereka. Sehingga mereka dapat menjalankan
      perusahaannya dengan efektif, effisien dan susteinable
    </p>
  </div>
  <div>
    <img src="../../../assets/undraw_business_deal_cpi9.svg" alt="home-image" />
  </div>
</div> -->
<section class="landing-page">
  <div class="uk-container flex">
    <div class="text">
      <h1>
        Focus on your <br />
        businesss
      </h1>

      <p>
        Lebih dari dua dekade kami melayani mulai dari bisnis retail sampai
        korporasi dengan banyak cabang. Mulai dari UMKM sampai perusahaan
        multinasional dengan puluhan ribu karyawan.
      </p>
    </div>

    <div class="image">
      <img src="../../assets/undraw_business_deal_cpi9.svg" alt="Image" />
    </div>
  </div>

  <div class="uk-container">
    <p class="text-muted">
      Software-software kami membantu perusahaan merancang, mengeksekusi dan
      melaporkan bisnis model mereka. Sehingga mereka dapat menjalankan
      perusahaannya dengan efektif, effisien dan susteinable
    </p>
  </div>
</section>
