<div class="blog">
  <div class="uk-child-width-expand@s" uk-grid>
    <div class="uk-grid-item-match header">
      <p>
        <span
          class="iconify"
          data-icon="ic:baseline-bubble-chart"
          data-inline="false"
        ></span
        >BLOG
      </p>
      <h2 class="heading">
        Ayo Pelajari lebih Lanjut codinganmu untuk memperbaiki karyamu
      </h2>
      <p class="text-heading"></p>
      <p class="content">
        Pentingnya pengetahuan untuk seorang developer dalam menciptakan
        teknologi
      </p>
    </div>
    <div>
      <img src="assets/blog_pages_images.png" alt="" />
    </div>
  </div>
  <div class="content-blog">
    <div class="bloging">
      <div class="header uk-text-center">
        <h1>Articles</h1>
      </div>
      <div class="uk-child-width-1-4@s" uk-grid>
        <div>
          <mat-card>
            <div class="image">
              <img src="https://i.ibb.co/PMvN4mZ/ADA.jpg  " alt="image-blog" />
            </div>
            <div class="mat-card-content">
              <h3>
                Artificial Intelligence, Machine Learning dan Deep Learning
              </h3>
            </div>
          </mat-card>
        </div>

        <div>
          <mat-card>
            <div class="image">
              <img src="https://i.ibb.co/M5dQZdH/ADA.jpg" alt="image-blog" />
            </div>
            <div class="mat-card-content">
              <h3>Prediksi Teknologi di 2021 Bagi Developer</h3>
            </div>
          </mat-card>
        </div>

        <div>
          <mat-card>
            <div class="image">
              <img
                src="https://i.ibb.co/h7RM68r/Apakah-kamu-masih-menggunakan-lodash.jpg"
                alt="image-blog"
              />
            </div>
            <div class="mat-card-content">
              <h3>Beberapa Fitur HTML yang Jarang Anda Gunakan</h3>
            </div>
          </mat-card>
        </div>
        <div>
          <mat-card>
            <div class="image">
              <img
                src="https://i.ibb.co/p35sLSv/Apakah-kamu-masih-menggunakan-lodash.jpg"
                alt="image-blog"
              />
            </div>
            <div class="mat-card-content">
              <h3>5 Alasan Mengapa Programmer Harus Ngeblog</h3>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="paging">
    <mat-paginator
      [length]="100"
      [pageSize]="12"
      [pageSizeOptions]="[6, 12, 24, 100]"
    >
    </mat-paginator>
  </div>
</div>
