<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list *ngIf="authservice.currentUser">
      <a mat-list-item routerLink="/admin/blogs"> Blog </a>
      <a mat-list-item routerLink="/admin/message"> Message </a>
      <a mat-list-item (click)="authservice.signout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: white">
      <span class="left"></span>
      <a class="logo" routerLink="/public/home"
        ><img src="assets/inforsys.png" alt="logo"
      /></a>
      <span class="spacer"></span>
      <div class="toolbar" *ngIf="authservice.currentUser">
        <a mat-button routerLink="/admin/blogs"> Blog </a>
        <a mat-button routerLink="/admin/message"> Message </a>
        <a mat-raised-button (click)="authservice.signout()">Logout</a>
      </div>
      <span class="right"></span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
