<div class="contact">
  <div class="header uk-text-center">
    <h1>Get in touch</h1>
    <p>
      We like to create things with fun, open-minded people. Feel free to say
      hello!
    </p>
  </div>
  <div class="contact-form">
    <div class="uk-child-width-1-2@s" uk-grid>
      <div class="uk-width-expand@s">
        <div class="uk-child-width-1-2@s" uk-grid>
          <div class="name">
            <p>
              <label for="name"
                >Name <span style="color: red; font-size: 4px">*</span></label
              >
            </p>
            <mat-form-field appearance="outline" class="uk-width-1-1">
              <input
                matInput
                id="name"
                [(ngModel)]="contactName"
                placeholder="Your name ..."
              />
            </mat-form-field>
          </div>
          <div class="email">
            <p>
              <label for="email"
                >Email Address
                <span style="color: red; font-size: 14px">*</span></label
              >
            </p>
            <mat-form-field appearance="outline" class="uk-width-1-1">
              <input
                matInput
                id="email"
                [(ngModel)]="contactEmail"
                placeholder="Your email ..."
              />
            </mat-form-field>
          </div>
        </div>

        <p>
          <label for="message"
            >Message <span style="color: red; font-size: 14px">*</span></label
          >
        </p>
        <mat-form-field appearance="outline" class="uk-width-1-1">
          <textarea
            matInput
            id="message"
            [(ngModel)]="contactMessage"
            placeholder="Your Message"
          >
          </textarea>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          style="padding: 10px; padding-left: 30px; padding-right: 30px"
          (click)="createRecord()"
        >
          Send Message
          <span
            class="iconify"
            data-icon="feather:send"
            data-inline="false"
          ></span>
        </button>
      </div>

      <div class="contact-us uk-width-1-3@s">
        <div class="mail">
          <p>
            <span
              class="iconify"
              data-icon="feather:mail"
              data-inline="false"
            ></span>
            : hello@inforsys.co.id
          </p>
        </div>
        <div class="web">
          <p>
            <span
              class="iconify"
              data-icon="feather:link"
              data-inline="false"
            ></span>
            : inforsys.co.id
          </p>
        </div>
        <div class="phone">
          <p>
            <span
              class="iconify"
              data-icon="feather:phone-call"
              data-inline="false"
            ></span>
            : +62 778 416 0250
          </p>
        </div>
        <div class="message">
          <p>
            <span
              class="iconify"
              data-icon="feather:message-circle"
              data-inline="false"
            ></span>
            : +62 811 7757 634
          </p>
        </div>
        <div class="time">
          <p>
            <span
              class="iconify"
              data-icon="feather:clock"
              data-inline="false"
            ></span>
            : 8:00 AM - 5:00 PM
          </p>
        </div>
        <div class="map">
          <p>
            <span
              class="iconify"
              data-icon="feather:map-pin"
              data-inline="false"
            ></span>
            : Orchard Walk Blok C#18 Jl. Orchard Boulevard Orchad Park Batam
            Batam Kota Kepulauan Riau Indonesia 29464
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
