<div class="about-us">
  <div class="uk-child-width-expand@s" uk-grid>
    <div class="uk-grid-item-match uk-width-expand@m">
      <h2>
        <span
          class="iconify"
          data-icon="mdi-chart-bubble"
          data-inline="false"
        ></span
        >KENAPA KAMI ADA?
      </h2>
      <h1>We are agile, menekankan kelincahan dalam mengambil keputusan.</h1>
      <p class="content">
        Membantu perusahaan mengelola sistem informasi yang bisa diakses secara
        global oleh management, karyawan, pelanggan dan pemasok, kapanpun,
        dimanapun, dengan mudah dari berbagai platform.
      </p>
      <p class="content">
        Ketika sebuah usaha telah tumbuh dari yang tadinya hanya dikelola oleh
        satu atau dua orang-owner, menjadi dikelola oleh banyak orang.
      </p>
    </div>
    <div class="uk-width-1-3@m">
      <img src="../../../assets/undraw_team_ih79.svg" alt="home-image" />
    </div>
  </div>
  <div class="content">
    <p>
      Melibatkan banyak pemasok, dan tentu saja banyak pelanggan. Usaha menjadi
      tidak mudah untuk dikendalikan. Informasi akan kejadian-kejadian yang
      mempengaruhi perusahan berseliweran kesana kemari menjadi sebuah
      kerumitan. Hal ini jika tidak dikelola dengan baik, akan membuat
      sumbatan-sumbatan, yang berakibat pada menurunnya kinerja perusahaan.
    </p>
    <p>
      Kini, ketika arus informasi membesar. Ketika informasi tidak lagi dicari
      bahkan diberikan didorong, dijejalkan. Maka, persaingan menjadi begitu
      berat. Siapa yang berhasil mengelola informasi dengan baik, menyajikankan
      dalam bentuk yang berguna, dia yang akan menjadi pemenang. Dan semua itu
      terjadi sangat cepat.
    </p>
    <p>
      Atas dasar itulah, kami membangun solusi, yang menurut kami adalah core
      dari perusahaan, yaitu: accounting, payroll dan Human Resources. Kami
      ingin management, karyawan, pemasok bahkan pelanggan bisa berbagi
      informasi yang berguna, sesuai kebutuhan masing-masing pihak.
    </p>
  </div>
</div>
<div class="about">
  <div class="uk-container" style="margin-left: 30px; margin-right: 30px">
    <div class="header" style="margin-top: 60px">
      <p style="line-height: 1.4">Prinsip kami dalam membangun perusahaan</p>
    </div>
    <div class="content">
      Kami percaya sepenuhnya apa yang diinginkan pelanggan adalah yang benar,
      sebab meraka menghadapi problem itu dari hari-ke hari. Jika mereka sudah
      menemukan solusi, buat kami itu adalah solusi yang terbaik, solusi yang
      teruji. Tugas kami adalah mendigitalkan solusi itu, membuatnya jadi
      otomatis dan terintegrasi, sehingga menjadi bagian seutuhnya dari sistem.
      Sehingga membuat informasi berjalan lebih cepat, terukur dan akurat.
      Selain itu kami juga menawarkar solusi-solusi yang mungkin bisa mengurangi
      bahkan menghilangkan rasa sakit.
    </div>
    <h2 style="font-size: 25px; margin-top: 20px">
      Applikasi dibangun fokus pada kebutuhan pelanggan. Customer Development.
    </h2>

    <div class="uk-child-width-expand@s uk-text-center" uk-grid="parallax:30">
      <div>
        <div class="uk-card uk-card-default uk-card-body margin">
          <span class="iconify" data-icon="mdi:bomb-off"></span>
          <h2>Tidak Gila Fitur</h2>
          <p>
            Lebih baik punya sedikit fitur yang berguna bagi pelanggan daripada
            banyak fitur tidak berguna [gila fitur].
          </p>
        </div>
        <div class="uk-card uk-card-default uk-card-body margin">
          <span class="iconify" data-icon="mdi:weather-sunny"></span>
          <h2>Informasi Adanya Di Luar</h2>
          <p>
            Informasi adanya di luar bukan di atas meja kami [tidak berasumsi
            bahwa kita tahu apa yang dinginan pelanggan].
          </p>
        </div>
        <div class="uk-card uk-card-default uk-card-body margin">
          <span class="iconify" data-icon="mdi:recycle"></span>
          <h2>Siklus Development</h2>
          <p>
            Menekankan pada proses hipotesis, pengujian, pembelajaran,
            pengulangan bukan eksekusi.
          </p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body margin">
          <span
            class="iconify"
            data-icon="mdi:image-filter-center-focus-weak"
          ></span>
          <h2>Fokus Pada Segment Tertentu</h2>
          <p>
            Kami hanya focus pada segmen dimana kami ahli dalam yang bersumber
            dari pengalaman kami lebih dari 22 tahun di bisnis software.
          </p>
        </div>
        <div class="uk-card uk-card-default uk-card-body margin">
          <span class="iconify" data-icon="ic:baseline-high-quality" s></span>
          <h2>Yakin Pada Produk Berkualitas</h2>
          <p>
            Kami sangat yakin bahwa produk berkualitas akan selalu dicari, kami
            hanya akan deliver produk berkualitas.
          </p>
        </div>
        <div class="uk-card uk-card-default uk-card-body margin">
          <span class="iconify" data-icon="ic:outline-trending-up"></span>
          <h2>Tumbuh Alami</h2>
          <p>
            Eksekusi dilakukan bukan berdasarkan oleh pertumbuhan yang prematur.
            Tumbuh alami bukan karbitan. [Don’t scale too fast]
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
