<app-navbar>
  <div class="ng-container">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <div style="background-color: #292838">
    <div class="uk-container-footer">
      <div class="uk-child-width-1-2@s" uk-grid>
        <div>
          <div class="address">
            <img src="../assets/inforsys-white.png" alt="footerImg" />
            <p>
              PT Inforsys Indonesia <br />
              Orchard Walk Blok C#18 <br />
              Jl. Orchard Boulevard <br />
              Orchad Park Batam <br />
              Batam Kota <br />
              Kepulauan Riau 29464
            </p>
            <span
              class="iconify"
              data-icon="eva:facebook-outline"
              data-inline="false"
            ></span>
            <span
              class="iconify"
              data-icon="eva:twitter-outline"
              data-inline="false"
            ></span>
            <span
              class="iconify"
              data-icon="akar-icons:instagram-fill"
              data-inline="false"
            ></span>
            <span
              class="iconify"
              data-icon="feather:gitlab"
              data-inline="false"
            ></span>
          </div>
        </div>
        <div>
          <div class="uk-child-width-1-3@s" uk-grid>
            <div>
              <div class="compFooter">
                <h3>ABOUT US</h3>
                <p><a routerLink="/public/about">About</a></p>
                <p><a routerLink="/public/career">Career</a></p>
                <p><a routerLink="/public/contact">Contact</a></p>
              </div>
            </div>
            <div>
              <div class="compFooter">
                <h3>PRODUCTS</h3>
                <p><a routerLink="/public/sofi">SOFI</a></p>
                <p><a routerLink="/public/pisi">PISI</a></p>
              </div>
            </div>
            <div>
              <div class="compFooter">
                <h3>SUPPORT</h3>
                <p>
                  <a routerLink="/public/terms">Terms & Conditions</a>
                </p>
                <p><a routerLink="/public/privacy">Privacy Policy</a></p>
                <p><a routerLink="/public/covid">Covid-19</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
      <div class="uk-background-secondary uk-light footer-2">
        2021 © PT Inforsys Indonesia.
      </div>
    </div>
  </div>
  <!-- </app-navbar> -->
</app-navbar>
