<span class="sofi">
  <div class="uk-child-width-expand@s" uk-grid>
    <div class="uk-grid-item-match heading">
      <p>
        <span
          class="iconify"
          data-icon="mdi-chart-bubble"
          data-inline="false"
        ></span
        >SOFI
      </p>
      <h1 class="header">
        Accounting, Finance, Inventory, Distribution and Manufacture Software
      </h1>
      <p class="content">
        SOFI adalah sistem komputer akuntansi lengkap ter-integrasi. Di rancang
        untuk menangani tingginya volume transaksi dengan dukungan database
        handal Microsoft SQL Server.
      </p>
    </div>
    <div>
      <img src="../../../assets/undraw_finance_0bdk.svg" alt="sofi-image" />
    </div>
  </div>
  <div class="content" style="padding-top: 10px">
    <p>
      Program SOFI telah teruji dengan stabil pada lebih dari 250 pelanggan
      korporasi kami yang tersebar diseluruh Indonesia. SOFI telah digunakan
      oleh perusahaan dengan berbagai tipe bisnis seperti perkebunan,
      manufaktur, perkapalan, perdagangan, dan lainnya.
    </p>

    <p>
      Anda dapat mendefinisikan kertas kerja di SOFI dengan memasukkan kontrol
      status transaksi. Fungsi ini akan menggantikan kertas kerja manual seperti
      persetujuan dokumen, revisi, ataupun tanda tangan. SOFI juga menyediakan
      fitur analisa biaya per Departemen, Divisi, ataupun per Project. Dengan
      demikian kontrol biaya akan dapat tersajikan secara lebih detil dan lebih
      terperinci.
    </p>
    <p>
      Untuk lebih lanjut silahkan ke
      <a href="https://soficloud.com">SOFICLOUD.COM</a>
    </p>
  </div>

  <div class="features">
    <div class="uk-container">
      <div class="uk-text-center">
        <h1>Awesome Features</h1>
        <p class="headText">
          Fitur-fitur kami dikembangkan dari kebutuhan customer kami
        </p>
      </div>
      <div class="grid-card">
        <div
          class="uk-child-width-expand@s uk-text-center"
          uk-grid="parallax: 40"
        >
          <div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="ic:outline-security"></span>
              <h2>Security & Authorization</h2>
              <p>
                Manageable Security & Multi Level Authorization. Access group
                definition, multi level authorization for each transaction, and
                audit trail facility.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:currency-usd"></span>
              <h2>Currency & Forex</h2>
              <p>
                Multi Currency & Home Currency With Forex Calculation. Hanya
                satu kali klik, menciptakan laporan keuangan Anda lebih dari
                satu mata uang dasar dengan perhitungan forex calculation yang
                lengkap.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:file-multiple"></span>
              <h2>AP & AR Analyst</h2>
              <p>
                Outstanding Report, Aging Analyst Report, Paid Invoice Report,
                Due/Overdue Report, & Statement of Account Report.
              </p>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:wrench"></span>
              <h2>Customizable Financial Report</h2>
              <p>
                Monthly Comparation, Yearly Comparation, Budget Comparation,
                Ratio Analyst, Department and Division Analyst, Project Analyst.
                Design your financial report with Report Setup Module.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:factory"></span>
              <h2>Fixed Asset Managament</h2>
              <p>
                Many type of calculation method, auto depreciation journal, cost
                centre allocation journal, fixed asset depreciation report.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:calendar-multiple"></span>
              <h2>Definable Fiscal Date</h2>
              <p>
                Create your own fiscal date period, inventory and GL Period.
                Create 13 Period for adjustment period
              </p>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="ic:baseline-autorenew"></span>
              <h2>Recurring Transaction</h2>
              <p>
                Auto journal recurring for recurring transaction. Define your
                period and transaction term.
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="bi:cloud-check-fill"></span>
              <h2>Cloud or On Premise</h2>
              <p>
                You can choose to put your database on cloud or on premise
                server
              </p>
            </div>
            <div class="uk-card uk-card-default uk-card-body margin">
              <span class="iconify" data-icon="mdi:web"></span>
              <h2>Web base</h2>
              <p>
                Applikasi dapat diakses dari mana saja dengan device apa saja
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</span>
